{% extends "base.html" %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
            <div class="user-display pull-left fixed-top text-align-left p-t-10 p-r-10 p-l-20" style="margin-top: 0" >Currently labelling as: {{user}}</div>
        <div class="wrap-labeler p-b-160 p-t-50">

<form class="login100-form validate-form" id="form" method="POST"> {% csrf_token %}


    <span class="login100-form-title p-b-43 text-center">
        {{post.content}}
    </span>
    <div class="col-md-12 text-center">
    {%if post.content == 'No Posts Available. Try again Later'%}
        <button type='submit' value='positive' name='sentiment' class="btn btn-success px-5 mx-2" disabled>
            Positive
        </button>
        <button type='submit' value='neutral' name='sentiment' class="btn btn-secondary px-5 mx-2" disabled>
            Neutral
        </button>
        <button type='submit' value='negative' name='sentiment' class="btn btn-danger px-5 mx-2" disabled>
            Negative
        </button>


    {% else %}
        <button type='submit' value='positive' name='sentiment' class="btn btn-success px-5 mx-2">
            Positive
        </button>
        <button type='submit' value='neutral' name='sentiment' class="btn btn-secondary px-5 mx-2">
            Neutral
        </button>
        <button type='submit' value='negative' name='sentiment' class="btn btn-danger px-5 mx-2">
            Negative
        </button>
    </div>
    {% endif %}
    
</form>
{% endblock %}