{% extends "base.html" %}

{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">

<form class="login100-form validate-form"  id="form" method="POST"> {% csrf_token %}
    <span class="login100-form-title p-b-43">
        Sentiment Labeler
    </span>
    {%if error == 'True'%}
        <div class="alert alert-danger w-100 fade show" role="alert">
            <strong>Invalid PF Number</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    {% endif %}
    <div class="wrap-input100 validate-input" data-validate = "PF Number is required">
        <input class="input100" type="text" name="pf_number">
        <span class="label-input100 w-100 p-b-43">PF Number (Beginning with 00)</span>
    </div>

    <div class="container-login100-form-btn p-b-80">
        <button class="login100-form-btn">
            Start Labelling!
        </button>
    </div>
    <div class="alert alert-dark w-100">
        Please ensure when labelling to ignore context and label purely based on the sentiment of the post
        <hr>
        <p class="mb-0">For example, if negative sentiment is directed to someone other than Maybank, the post should still be labeled negatively</p>
    </div>

</form>
{% endblock %}